<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <pages enableSessionState="true" />
    <compilation targetFramework="4.6.1" />
    <httpRuntime maxRequestLength="512000" maxUrlLength="5000" targetFramework="4.6.1" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <sessionState mode="InProc" cookieless="false" timeout="80" />
    <customErrors mode="RemoteOnly" redirectMode="ResponseRewrite">
      <error statusCode="404" redirect="Error.aspx" />
    </customErrors>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <!--<remove name="Session" />
        <add name="Session" type="System.Web.SessionState.SessionStateModule, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>-->
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="Index.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <!--<add name="ContraDescuento" connectionString="Data Source=.\SQL_UAI;Initial Catalog=ContraDescuento;User Id=CIAP;Password=CIAP" providerName="System.Data.SqlClient"/>-->
    <!--UAI - Home-->
    <!--<add name="ContraDescuento" connectionString="Data Source=.\SQL_UAI;Initial Catalog=ContraDescuento;User Id=CIAP;Password=12345678" providerName="System.Data.SqlClient"/>-->
    <!-- Trabajo -->
    <!--<add name="ContraDescuento" connectionString="Data Source=342-04-84614\SQL_UAI;Initial Catalog=ContraDescuento;User Id=CIAP;Password=12345678" providerName="System.Data.SqlClient"/>-->
    <!--Universidad:  342-04-84614\SQL_UAI-->
    <add name="ContraDescuento" connectionString="Data Source=.\SQL_UAI;Initial Catalog=ContraDescuento;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
    <add name="ConnStrMaster" connectionString="Data Source=.\SQL_UAI;Initial Catalog=Master;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="rutaLog" value="C:\ContraDescuento\Log" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="Crypto.Key" value="TFI_Key" />
    <add key="Log" value="C:\ContraDescuento\Log\" />
    <add key="Path.Backup" value="C:\ContraDescuento\Backup\" />
    <add key="Path.Comercio.Logo" value="C:\ContraDescuento\Comercio\Logo\" />
    <add key="Comercio.Logo.Archivo.TamañoPermitido" value="2" />
    <add key="Comercio.Producto.Archivo.TamañoPermitido" value="2" />
    <add key="Path.Comercio.Producto" value="C:\ContraDescuento\Comercio\Producto\" />
    <add key="Comercio.Archivo.Archivo.TamañoPermitido" value="2" />
    <add key="URL" value="http://localhost:4844/" />
    <add key="BD_Path_Restore" value="C:\ContraDescuento\Backup\" />
    <add key="BD_RestoreFile" value="ContraDescuento.bak" />
    <!-- Credenciales usuario-->
    <add key="Email_Cuenta" value="TFI.44563.CIAP@gmail.com" />
    <add key="Email_Password" value="TFI_44563.35!" />
  </appSettings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
<!--ProjectGuid: C597B4F6-834C-4EA7-B341-CDC584B09060-->